.chapter2 {
	width: 100%;
	height: 1000px;
	position: absolute;
	top: 350px;
	right: 0px;
	
}

.chapter2 span {
	background-color: black;
	color: pink;
	font-style: italic;
}

.gravity {
	width: 468px;
	height: 161px;
	right: 30%;
	margin-right: -65px;
	top: 156px;
	position: absolute;
}

.earth {
	width: 100%;
	height: 83%;
	border-radius: 50%;
	background-image: url(../img/slice.jpg);
	background-size: auto 100%;
	z-index: 3;
	opacity: 0.8;
	position: absolute;
}

.antenna {
	width: 100%;
	height: 83%;
	background-image: url(../img/slick.png);
	background-size: 90% auto;
	z-index: 1;
	position: absolute;
	top: -49%;
	left: -.55%;
	opacity: 0.8;
	opacity:1;
	
}

.column2 {
	width: 100%;
	height: 1046px;
	min-width: 400px;
	min-height: 100px;
	top: 65px;
	right: 0px;
	background: white;
	position: absolute;
	z-index: 2;
	/*border: 1px solid magenta;*/
}

.retro {
	width: 100%;
	height: 83%;
	border-radius: 50%;
	border: 1px solid #eeeeee;
	background-size: 800px 800px;
	position: absolute;
	top: -23%;
	-webkit-transition: width 4s;
	
}


.causality {
     height:41.3%;
     width:100%;
     border-radius: 50% / 100%;
	 border-bottom-left-radius: 0;
	 border-bottom-right-radius: 0;
     border:1px solid #eeeeee;
     border-bottom:none;
     z-index: 6;
     position: absolute;
     top: 19%;
     -webkit-transform: rotate(180deg);
}



.telstar {
	top: -68%;
	width: 16%;
	height: 90%;
	background-image: url(../img/telstar.jpg); 
	background-size: 100% auto;
	opacity: 1;
	z-index: 1;
	left: 70%;
	position: absolute;

	-webkit-transform: skew(0deg,20deg)
}

.line3 {
	top: -27%;
	height: 150px;
	width:1px;
	opacity:1;
	border-top: 1px dashed cyan;
	left: 44%;
	position: absolute;
	z-index: 3;
	-webkit-transition: width 4s;
	-webkit-transform: skew(0deg,168deg)
}

.line4 {
	
	top: -24%;
	height: 170px;
	width:1px;
	opacity:1;
	border-top: 1px dashed cyan;
	left: 19%;
	position: absolute;
	z-index: 3;
	-webkit-transition: width 4s;
	-webkit-transform: skew(0deg,172deg)
}

.box2 {
	display: none;
	width: 20%;
	height: 50%;
	top: 0px;
	left: 73%;
	position: absolute;
	z-index: 4;
	-webkit-transform: skew(0deg,-6deg);
}

.box2 .top {
	top: 0%;
}

.bernini {
	top: 10px;
	left: 70%;
	position: absolute;
	z-index: 3;
	opacity: 0.9;
	width: 20%;
	height:50%;
	background-image: url(../img/daphne/1.png);
	background-size: 130% 130%;
}

.laurel2 {
	display: none;
	top: -45%;
	height: 170%;
	width: 150%;
	right: -25%;
	position: absolute;
	background-image: url(../img/lmin.png);
	background-size: 100% 100%;
	z-index: 0;
	opacity: 0.9;
	-webkit-transform: skew(0deg,26deg)
}

.p2 {
	font-family: "andale mono";
	width: 46%;
	font-size: 12px;
	line-height: 21px;
	position: absolute;
	height: 300px;
	left:-2%;
	top: 530px;
	/*border: 1px solid hotpink;*/
	background-color: white;
	padding-left: 12%;
	padding-top: 120px;
	padding-right: 7%;
	z-index: 4;

}

.p1 {
	font-family: "andale mono";
	width: 28%;
	font-size: 12px;
	line-height: 21px;
	position: absolute;
	height: auto;
	/*left: 125%;*/
	top: 32%;
	z-index: 4;
}

.connect .p1 {
	font-family: "andale mono";
	width: 60%;
	font-size: 12px;
	line-height: 21px;
	position: absolute;
	height: auto;
	margin-left: 28%;
	top: 240px;
	/*z-index: 4;*/
}

.connect {

	top: 50px;
	width: 30%;
	border-top:10px solid white;
	height: 900px;
	position: absolute;
	right: 0px;

	background-image: url(../img/sky.jpg);
	/*opacity: 0.6;*/
}

/********************TABLET*********************/

.chapter2T {
	/*background: black;*/
}

.chapter2T .gravity {
	width: 350px;
	height: 121px;
	right: 20%;
	margin-right: -50px;
	top: 100px;
	position: absolute;
}

.chapter2T  .connect {

	top: 28px;
	width: 20%;
	border-top:none;
}

.chapter2T .connect .p1 {
	font-family: "andale mono";
	width: 250px;
	font-size: 12px;
	line-height: 21px;
	position: absolute;
	height: auto;
	left: -180%;
	top: 240px;
	/*z-index: 4;*/
}

.chapter2T .gravity .column2 {
	min-width: 100px !important;
	background-color: white;
	height: 894px;
	top: 50px;
}

.chapter2T .p2 {
	
	width: 450px;
	left:50px;
	top: 500px;
	/*padding-left: 50px;*/
	padding-top: 150px;
	height: 382px;
	/*background-color: pink;*/
	
	


}



/********************MOBILE*********************/

.chapter2M {
	/*background: black;*/
}

.chapter2M .gravity {
	width: 300px;
	height: 104px;
	right: 30%;
	margin-right: -65px;
	top: 100px;
	position: absolute;
}

.chapter2M  .connect {

	top: -33px;
	width: 30%;
	border-top:none;
}

.chapter2M .connect .p1 {
	font-family: "andale mono";
	width: 250px;
	font-size: 12px;
	line-height: 21px;
	position: absolute;
	height: auto;
	left: -205%;
	top: 240px;
	/*z-index: 4;*/
}

.chapter2M .gravity .column2 {
	min-width: 100px !important;
	background-color: white;
	height: 985px;
	top: 40px;
}

.chapter2M .p2 {
	
	width: 230px;
	overflow: hidden !important;
	left:50px;
	top: 400px;
	padding-left: 20px;
	
	/*background-color: pink;*/
	
	


}

