.chapter2 {
	width: 800px;
	height: 700px;
	position: absolute;
	top: 55%;
	
}

.gravity {
	width: 58%;
	height: 23%;
	right: -150px;
	top: 18%;
	position: absolute;
}

.earth {
	width: 100%;
	height: 83%;
	border-radius: 50%;
	background-image: url(../img/slice.jpg);
	background-size: auto 100%;
	z-index: 3;
	opacity: 0.8;
	position: absolute;
}

.antenna {
	width: 100%;
	height: 83%;
	background-image: url(../img/slick.png);
	background-size: 90% auto;
	z-index: 1;
	position: absolute;
	top: -49%;
	left: -.55%;
	opacity: 0.8;
	opacity:1;
}

.column {
	width: 100%;
	height: 500%;
	min-width: 400px;
	min-height: 100px;
	top: 46%;
	background: white;
	position: absolute;
	z-index: 2;
}

.retro {
	width: 100%;
	height: 83%;
	border-radius: 50%;
	border: 1px solid #eeeeee;
	background-size: 800px 800px;
	position: absolute;
	top: -23%;
	-webkit-transition: width 4s;
	
}


.causality {
     height:41.3%;
     width:100%;
     border-radius: 50% / 100%;
	 border-bottom-left-radius: 0;
	 border-bottom-right-radius: 0;
     border:1px solid #eeeeee;
     border-bottom:none;
     z-index: 6;
     position: absolute;
     top: 19%;
     -webkit-transform: rotate(180deg);
}



.telstar {
	top: -68%;
	width: 16%;
	height: 90%;
	background-image: url(../img/telstar.jpg); 
	background-size: 100% auto;
	opacity: 1;
	z-index: 1;
	left: 70%;
	position: absolute;

	-webkit-transform: skew(0deg,20deg)
}

.line3 {
	top: -27%;
	height: 150px;
	width:1px;
	opacity:1;
	border-top: 1px dashed cyan;
	left: 44%;
	position: absolute;
	z-index: 3;
	-webkit-transition: width 4s;
	-webkit-transform: skew(0deg,168deg)
}

.line4 {
	
	top: -24%;
	height: 170px;
	width:1px;
	opacity:1;
	border-top: 1px dashed cyan;
	left: 19%;
	position: absolute;
	z-index: 3;
	-webkit-transition: width 4s;
	-webkit-transform: skew(0deg,172deg)
}

.box2 {
	display: none;
	width: 20%;
	height: 50%;
	top: 0px;
	left: 73%;
	position: absolute;
	z-index: 4;
	-webkit-transform: skew(0deg,-6deg);
}

.box2 .top {
	top: 0%;
}

.bernini {
	top: 10px;
	left: 70%;
	position: absolute;
	z-index: 3;
	opacity: 0.9;
	width: 20%;
	height:50%;
	background-image: url(../img/daphne/1.png);
	background-size: 130% 130%;
}

.laurel2 {
	display: none;
	top: -45%;
	height: 170%;
	width: 150%;
	right: -25%;
	position: absolute;
	background-image: url(../img/lmin.png);
	background-size: 100% 100%;
	z-index: 0;
	opacity: 0.9;
	-webkit-transform: skew(0deg,26deg)
}

.p2 {
	font-family: "andale mono";
	width: 46%;
	font-size: 12px;
	line-height: 25px;
	position: absolute;
	height: 100%;
	left:-2%;
	top: 55%;
	/*border: 1px solid hotpink;*/
	background-color: white;
	padding-left: 9%;
	padding-top: 10%;
	padding-right: 7%;
	z-index: 4;


}

.p1 {
	font-family: "andale mono";
	width: 28%;
	font-size: 12px;
	line-height: 25px;
	position: absolute;
	height: auto;
	left: 125%;
	top: 32%;
	z-index: 4;
}

.connect {

	top: -61%;
	width: 98%;
	border-top:1px solid #eeeeee;
	height: 580%;
	position: absolute;
	left: 70%;
	background-image: url(../img/sky.jpg);
	opacity: 0.6;
}
