.space {
	width: 100%;
	height: 2000px;
	background: midnightblue;

}

.count {
	width: auto;
	height: auto;
	font-size: 300px;
	font-family: "Courier New";

	position: absolute;
	margin-left: 50%;
	left: -250px;
}

