.space {
	width: 100%;
	height: 2000px;
	background: black;

}

.count {
	width: auto;
	height: auto;
	font-size: 16px;
	font-family: "andale mono";

	position: absolute;
	margin-left: 50%;
	left: -370px;
	top: 570px;
	color: gainsboro !important;
	text-align: center;

}

/*.l2{
	width: 1000px;
	height: 895px;
	background-image: url(../img/front.jpg); 
	border: 1px solid cyan;
	position: absolute;
	z-index: 2;
}
*/
.laurel{
	width: 300px;
	height: 300px;
	background-image: url(../img/laurels.png); 
	/*border: 1px solid cyan;*/
	position: absolute;
	z-index: 1;

	margin-left: 50%;
	left: -150px;
	top: 200px;
}

.sculpture {
	overflow: hidden;
	height: 300px;
	width: 300px;
	position: absolute;
	
	margin-left: 50%;
	left: -150px;
	top: 140px;
	/*border: 1px solid magenta;*/
	background-size:300px 300px;
}

.telstar {
	overflow: hidden;
	height: 80px;
	width: 80px;
	position: absolute;
	
	margin-left: 50%;
	left: -40px;
	top: 120px;
	background-size:80px 80px;
	/*border: 1px solid magenta;*/
	background-image: url(../img/telstar.png); 
}