.five {
	/*display: none;*/
	width: 100%;
	height: 800px;
	line-height: 16px;
	text-align: left;
	color: lightcyan;
	position: absolute;
	z-index: 2;
}

.five span{
	background: yellow;
	font-size: 14px;
	color: black;
	font-style: italic;
}


/*.blockOut {
	position: absolute;
	top: 50px;
	left: 50px;
	height: 85%;
	width: 92%;
	text-align: left;
	font-size: 20px;
	color: black;
	z-index: 15;
	display: none;
	background: white;
	background-size: 100% auto;

}*/

/*.blackboard {
	height: 1000px;
	width: 100%;
}*/

.title5 {
	width: 800px;
	position: absolute;
	height: 100px;
	top: 20px;
	font-family: "andale mono";
	font-size: 18px;
	/*color: red;*/
}

.container5 {
	left: 8%;
	position: absolute;
	height: 300px;
	top: 380px;
	/*border-left: 1px dashed cornflowerblue;*/
	font-family: "andale mono";
}

.text5 {
	font-size: 12px;
	margin-left: 50px;
	width: 350px;
	margin-bottom: 40px;
}

.subtext5,
.subtext52 {
	font-size: 12px;
	/*display: none;*/
	width: 400px;
	margin-left: 50px;
	height: 300px;
	margin-bottom: 20px;
}

.chapter5 {
	font-size: 12px;
	left: 0px;
	width: 20px;
	height: 20px;
	position: absolute;
}

.board1 {
	height: 170px;
	width: 300px;
	position: absolute;
	right: 18%;
	top: 38%;
	background-size: 300px 170px !important;
	background-repeat: no-repeat;
	background: url(../img/board1.png);
	z-index: 1;
-webkit-transform: skew(0deg,12deg)

}

.board2 {
	height: 170px;
	width: 300px;
	position: absolute;
	right: 10%;
	top: 32%;
	background: black;
/*	background: url(../img/diffraction.png);*/
-webkit-transform: skew(0deg,12deg)
}

.pe {
	position: absolute; 
	right: 18%;
	top: 60%;
	z-index: 4;
	height: 300px;
	width: 600px;

}

.egun {
	margin-top: 80px;
	height: 74px;
	width: 200px;
	background-size: 200px 74px!important;
	background: url(../img/egun2.png);
-webkit-transform: rotate(-30deg);
	z-index: 3;
	position: absolute;
	margin-left: 240px;

}

.cam {
	display: none;
	margin-top: -250px;
	margin-left: 180px;
	height: 68px;
	width: 100px;
	background: url(../img/cam.png);
	z-index: 3;
	position: absolute;

}


.ebeam {
	display: none;
	height: 3px;
	width:200px;
	opacity:1;
	margin-top: 80px;
	margin-left: 200px;
	border-top: 1.5px dashed cyan;
	z-index: 3;
	position: absolute;
/*	-webkit-transition: width 4s;*/
	-webkit-transform: skew(0deg,-40deg)
}

.dwaves{
	display: none;
	height: 131px;
	width:150px;
	opacity:1;
	margin-top: -100px;
	margin-left: 420px;
	/*border-top: 1.5px dashed cyan;*/
	z-index: 3;
	position: absolute;
	background: url(../img/dwaves.png);
	background-repeat: no-repeat;
/*	-webkit-transition: width 4s;*/
	-webkit-transform: skew(-50deg, 30deg)
}

.line6 {
	
/*	top: -85px;*/
	height: 150px;
	width:1px;
	opacity:1;
	border-top: 1px dashed cyan;
	left: 185px;
	position: absolute;
	z-index: 3;
	-webkit-transition: width 4s;
	-webkit-transform: skew(0deg,172deg)
}





