.events{
	display: none;
}

.spacey {
	position: absolute;
	height:100%;
	width: 100%;
	background: white;
	/*background-image: url(../img/xerox2.jpg);*/
	color: black;
}

.form, .speed, .sputnik {

	height: 100px;
	width: 500px;
	position: absolute;
	margin-left: -5%;
	top: -1400px;
}


.form {
	background: yellow;
	opacity: 0.2;
	-webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.speed {
	background: cornflowerblue;
	opacity: 0.2;
	-webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

/*.telstar {
	display: none;
	top: 100px;
	left: 125px;
	position: absolute;
	z-index: 1;
	width: 200px;
	height: 200px;
}*/

.sculpture4 {
	overflow: hidden;
	height: 250px;
	width: 250px;
	position: absolute;
	right: 20%;
	top: 12%;
	background-size: 250px 250px;
	opacity: 0.7;
}

.Laurel4 {
	right: 18%;
	top: 13%;
	height: 300px;
	width: 300px;
	position: absolute;
	background-image: url(../img/lmin.png);
	background-size: 300px 300px;
	z-index: 1;
	opacity: 0;
/*	-webkit-transform: skew(0deg,26deg)*/
}

.earthglimpse {
	height: 220px;
	width: 224px;
	position: absolute;
	right: 22%;
	top: 40%;
	background-size: 100% auto !important;
	background: url(../img/earthblue.png);
	background-repeat: no-repeat;
	opacity: 0.6;
}

.moon {
	width: 100%;
	height: 200px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: url(../img/moonsurf.png);
	background-size: 100% auto;
	opacity: 0.9;
}

.title4 {
	width: 200px;
	left: 0px;
	position: absolute;
	height: 100px;
	top: 20px;
	font-family: "andale mono";
	font-size: 16px;
	color: aliceblue;
	text-align: left;
	font-style: italic;
}

.text4 {
	width: 350px;
	left: 14%;
	position: absolute;
	height: auto;
	top: 150px;
	/*border-left: 1px dashed cornflowerblue;*/
	font-family: "andale mono";
	font-size: 12px;
	line-height: 20px;
}

.chapter {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 12%;
	top: 150px;
	font-size: 12px;
	font-family: "andale mono";
}


