.invitation {
	display: none;
	position: absolute;
	height:100%;
	width: 100%;
	/*background: lavender;*/
	background-image: url(../img/sky.jpg);
	color: black;
	overflow: hidden;
	cursor: url(../img/telstarB2.png), auto ;
	/*cursor: url(img/curs.png), auto;*/
}


.iRight {
	width: 35%;
	height: 100%;
	position: absolute;
	left: 0px;
}

.imgDaph {
	height: 100%;
	width: 100%;
	top: 0px;
	position: absolute;
	background-image: url(../img/crop.jpg); ;
	background-size: auto 100%;
	opacity: 0.7;
}

.imgDaph:hover {
	background-image: url(../img/crop2.jpg); ;
	
}

.titleMain {
	color: white;
	font-size: 155px;
	position: absolute;
	left: -30px;
}

.iRight span {
	color: white;
	background: transparent;
	font-size: 29px;
	width: 100%;
	position: absolute;
	top: 150px;
	left: 7px;
	padding: none;
	text-align: left;
}

.iLeft {
width: 65%;
height: 100%;
position: absolute;
left: 35%;
background: white;
}

.iLeft .mainText {
	font-size: 13px;
text-align: left;
margin-left: 20px;
margin-top: 20px;
}


.ufo {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 20;
	background-size: auto 100%; 
	background-image: url(../img/telcrop.png);
}

.ufoT {
	height: 771px;
	width: 527px;
	display: none;
	position: absolute;
	border-top: 1px dashed red;
	border-bottom: 1px dashed red;
	z-index: 20;
	left: 36.5%;

}

/*******************BOX******************/

.ufoT .boxT{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left:0px;
	z-index: 20;
}

.ufoT .frontT {
	position: absolute;
	border: 1px dashed red;
	width: 53%;
	height: 49%;
	top: 200px;
	left: 0px;
	z-index: 25;
	background: lightgrey;
	opacity: 0.6;
}

.ufoT .backT {
	position: absolute;
width: 38.5%;
height: 90%;
top: 140px;
left: 61.5%;
background: pink;
z-index: 23;
border: 1px dashed red;
}

.ufoT .backT, .frontT {
	
	-webkit-transform: skew(0deg,54deg)
}

.ufoT .bottomT {
	position: absolute;
	width: 48%;
	height: 15%;
	top: 92%;
	left: 27%;
	border-top: 1px dashed lightgrey;
	border-bottom: 1px dashed lightgrey;
	-webkit-transform: skew(71deg,0deg)
}

.ufoT .topT {
	position: absolute;
	width: 48%;
	height: 15%;
	top: 0%;
	left: 27%;
	border-top: 1px dashed white;
	border-bottom: 1px dashed white;
	-webkit-transform: skew(71deg,0deg)
}


.ufoT img {
	position: absolute;
	left: 0px;
	z-index: 24;
}



