#x {
	position: absolute;
   	width: 10px;
   	height: 10px;
   	background: cyan;
   	border-radius: 50%;
    z-index: 1;
}

#y {
	position: absolute;
    width: 30px;
    height: 30px;
    background-size:30px 30px;
    background-image: url(../img/telstarB.png);
    /*background: cyan;*/
    border-radius: 50%;
    z-index: 1;
}

.y {
	position: absolute;
    width: 30px;
    height: 30px;
    background-size:30px 30px;
    background-image: url(../img/telstarB.png);
    /*background: cyan;*/
    border-radius: 50%;
    z-index: 1;
}

#z {
	position: absolute;
    width: 10px;
    height: 10px;
    background: silver;
    border-radius: 50%;
    z-index: 1;
}

.laurel {
	position: absolute;
	top: 150px;
	left: 150px;
    width: 200px;
    height: 200px;
    background-size:200px 200px;
    background-image: url(../img/laurel.png);
    border-radius: 50%;
    z-index: 3;
    display: none;
}

.peneus {
	position: absolute;
	top: 300px;
	left: 380px;
    width: 10px;
    height: 10px;
    background: darkblue;
    border-radius: 50%;
    z-index: 3;
/*    display: none;*/
}

.beam {
	position: absolute;
	top: 150px;
	left: 158px;
	width: 1px;
	height: 1px;
	border-top: 1px dashed magenta;
	/*-webkit-transition: width 4s;*/
	-ms-transform: rotate(210deg); /* IE 9 */
	-webkit-transform: rotate(247deg); /* Opera, Chrome, and Safari */
}



.beam2 {
	/*display: none;*/
	width: 1px;
	height: 0px;
	position: absolute;
	left: 250px;
	border-left: 1px dashed magenta;
	top: 0px;
	z-index: 3;


}




.space {
	width: 501px;
	height: 501px;
	position: absolute;
	border-radius: 50%;
	left: 0px;
	top: 0px;
	background-image:url(../img/0.jpg);
	opacity: 0.2; 
	/*top: 30%;
	left: 30%;*/
}

.xaxis {
	width: 501px;
	height: 1px;
	position: absolute;
	top: 250px;
	background: cornflowerblue;
	left: 0px;
	z-index: 0;
}

.yaxis {
	width: 1px;
	height: 501px;
	position: absolute;
	left: 250px;
	background: cornflowerblue;
	top: 0px;
	z-index: 0;
}

.orb {
	width: 500px;
	height:500px;
	top: 0px;
	left: 0px;
	border-radius: 50%;
	border: 1px solid cornflowerblue;
	z-index: 0;
	position: absolute;
}


.right {

	width: 100%;
	left: 550px;
	position: absolute;
	height: 1000px;
	top: 0px;
	border-left: 1px dashed cornflowerblue;
	font-family: "andale mono";
	padding: 20px;

}

.meter{
	width: 1000px;
	/*position: absolute;*/
	font-size: 30px;
	font-family: "andale mono";
	margin-bottom: 100px;
}


#distance {
	position: absolute;
	top: 120px;
	/*right: 0px;*/
	font-size: 30px;
	font-family: "andale mono";
}

.text {
	position: absolute;
	top: 150px;
	font-size: 15px;
	width: 600px;
}

.title {
	font-size: 18px;
}

.key {
	height: 150px;
	width: 150px;
	position: absolute;
	top: 450px;
	padding-left: 20px;
	line-height: 20px;
}

.key #x {
	position: absolute;
	top: 5px;
	left: 0px;
}

.key #z {
	position: absolute;
	top: 25px;
	left: 0px;
}

.key #y {
	position: absolute;
	top: 45px;
	left: 0px;
	width: 10px;
    height: 10px;
    background-size:10px 10px;
    display: block;
}

.key .peneus {
	position: absolute;
	top: 65px;
	left: 0px;
	display: block;
}


