#x {
    width: 10px;
    height: 10px;
    background: cyan;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

#y {
	position: absolute;
    width: 10px;
    height: 10px;
    background: silver;
    border-radius: 50%;
    z-index: 1;
}

#z {
	position: absolute;
    width: 10px;
    height: 10px;
    background: gold;
    border-radius: 50%;
    z-index: 1;
}

.circle {
	position: absolute;
    /*width: 10px;
    height: 10px;*/
    background: magenta;
    border-radius: 50%;
}

#result {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 30px;
	font-family: "andale mono";
}

#result2 {
	position: absolute;
	top: 60px;
	right: 0px;
	font-size: 30px;
	font-family: "andale mono";
}

#distance {
	position: absolute;
	top: 120px;
	right: 0px;
	font-size: 30px;
	font-family: "andale mono";
}

#sizer {

	position: absolute;
	top: 200px;
	right: 20px;
	font-size: 50px;
	font-family: "andale mono";
	width: 200px;
}

.submit {

	position: absolute;
	top: 208px;
	right: 250px;
	font-size: 48px;
	font-family: "andale mono";
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: white;
	background: tomato;
	text-align: center;
	line-height: 50px;
}

.neg {

	position: absolute;
	top: 208px;
	right: 300px;
	font-size: 48px;
	font-family: "andale mono";
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: white;
	background: cyan;
	text-align: center;
	line-height: 50px;
}

.space {
	width: 501px;
	height: 501px;
	position: absolute;
	border-radius: 50%;
	left: 0px;
	top: 0px;
	background-image:url(../img/0.jpg);
	opacity: 0.2; 
	/*top: 30%;
	left: 30%;*/
}

.xaxis {
	width: 501px;
	height: 1px;
	position: absolute;
	top: 250px;
	background: cornflowerblue;
	left: 0px;
	z-index: 0;
}

.yaxis {
	width: 1px;
	height: 501px;
	position: absolute;
	left: 250px;
	background: cornflowerblue;
	top: 0px;
	z-index: 0;
}

.orb {
	width: 500px;
	height:500px;
	top: 0px;
	left: 0px;
	border-radius: 50%;
	border: 1px solid cornflowerblue;
	z-index: 0;
	position: absolute;
}


.right {

	width: 35%;
	right: 0px;
	position: absolute;
	height: 2000px;
	top: 0px;
	border-left: 1px dashed cornflowerblue;
	font-family: "andale mono";
	padding: 20px;

}