@font-face {
	font-family: "andale mono";
}

body {
	width: 100%;
	height: 100%;
	font-family: "andale mono";	
}



 .title {
	position: absolute;
	top: 0px;
	left: 70%;
	width: 30%;
	height: 20px;
	z-index: 10;
	font-size:14px;
	padding: 0px;
	margin-left: 0px;
	background:black;
	color: pink;
	font-style: italic;
	text-align: right;
	line-height: 30px;
}

span {
	background-color: black;
}

.chapter1 { 
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.sky {
	width: 70%;
	height: 50%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-image: url(../img/sky.jpg);
}

.container {
	width: 350px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 15%;
}


.orb {
	width: 60%;
	height: 60%;	
	border: 1px solid lightgrey;
	position: absolute;
	border-radius: 50%;
	-ms-transform: skew(1 30deg, 2 10deg); /* IE 9 */
	-webkit-transform: skew(1 30deg, 2 10deg); /* Opera, Chrome, and Safari */
	left: 3%;

}


#one {
	top: 6%;
	left: 20%;
	z-index: 4;
}

#two {
	left: 3%;
	opacity: 0.6;
}

.bridge {
	width: 20%;
	height: 60%;
	/*background: magenta;*/
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	-webkit-transform: rotate(19deg);

	position: absolute;
	top: 3.5%;
	left: 33%;
	opacity: 0.5;

}

.xhair {
	top: 5% ;
	height: 100%;
	width: 28%;
	background-image: url(../img/trees.jpg);
	background-size: 160% auto; 
	opacity: 0.4;
	left: 50%;
	position: absolute;
	z-index: 3;
}

.xhair2 {
	top: -32% ;
	height: 35%;
	width: 16.8%;
	left: 33.3%;
	background-image: url(../img/daph.jpg);
	background-size: 160% auto;
	opacity: 0.8;
	position: absolute;
}

.xhair3 {
	top: 2% ;
	height: 100%;
	width: 28%;
	left: 50%;
	position: absolute;
	-webkit-transform: skew(0deg,20deg)
}


.xhair, .xhair2  {
	border-top: 1px solid ghostwhite;
	-webkit-transform: skew(0deg,20deg)
}

.yhair {
	height: 5.9%;
	top: 30%;
	width: 29.5%;
	background:lavender;
	border-left:3px solid ghostwhite;
	border-right:3px solid white;
	opacity: 0.5;
	/*top: 150px;*/
	left: 11%;
	z-index: 3;
}


.yhair2 {
	width: 170%;
	height: 5.7%;
	top: 30%;
	left: -20.7%;
	border: 1px solid ghostwhite;
	border-left: none;
	z-index: 1;
	opacity: 0.6;
}

.yhair, .yhair2 {
	position: absolute;
	-webkit-transform: skew(71deg,0deg);
}



/******************HORIZON********************/

.obj {
	width: 13%;
	height: 26%;
	position: absolute;
	top: 7%;
	left: 145%;
	background-image: url(../img/telstar.jpg); 
	background-size: 102% auto;
	opacity: 1;
	z-index: 2;
	-webkit-transform: skew(0deg,20deg)
}



.slit {
	
	width: 6%;
	height: 45%;
	position: absolute;
	border: 1px solid transparent;
	background: white;
	opacity: 0.4;
	background-size: auto 100%;
	position: absolute;
	z-index: 1;
	-webkit-transform: skew(0deg,20deg)
}



#s1 {
	top: -14%;
	left: 100%;
}

#s2 {
	top: -14%;
	left: 108%;
	margin-top: 3.5%; 
}

.line {
	top: -9%;
	height: 50%;
	width:1px;
	opacity:1;
	border-top: 1px dashed white;
	left: 33%;
	position: absolute;
	-webkit-transition: width 4s;
	-webkit-transform: skew(0deg,24deg)
}

/*.test {
	top: -32px;
	height: 150px;
	width:1px;
	opacity:1;
	border-top: 1px dashed white;
	left: 167px;
	position: absolute;
	-webkit-transition: width 4s;
	-webkit-transform: skew(0deg,25deg)

}*/

.line2 {
	
	top: -3.5%;
	height: 50%;
	width:1px;
	opacity: 1;
	border-top: 1px dashed white;
	left: 50%;
	position: absolute;
	z-index: 1;
	-webkit-transition: width 4s;
	-webkit-transform: skew(0deg,25deg)
}

/*******************BOX******************/

.box{
	position: absolute;
	width: 34%;
	height: 37%;
	top: 30.2%;
	left:-30%;
	z-index: 20;
}

.front {
	position: absolute;
	width: 50%;
	height: 90%;
	top:8%;	
}

.back {
	position: absolute;
	width: 49%;
	height: 90%;
	top:8%;
	left: 50%;
}

.back, .front {
	border: 1px dashed lightgrey;
	-webkit-transform: skew(0deg,20deg)
}

.bottom {
	position: absolute;
	width: 48%;
	height: 15%;
	top: 92%;
	left: 27%;
	border-top: 1px dashed lightgrey;
	border-bottom: 1px dashed lightgrey;
	-webkit-transform: skew(71deg,0deg)
}

.top {
	position: absolute;
	width: 48%;
	height: 15%;
	top: 0%;
	left: 27%;
	border-top: 1px dashed white;
	border-bottom: 1px dashed white;
	-webkit-transform: skew(71deg,0deg)
}


.sculp {
	width: 80%;
	height:95%;
	left: -7%;
	background-image: url(../img/daphne/1.png);
	background-size: 140% 140%;
}

.laurel {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/lmin.png);
	background-size: 100% 100%;	
}

.laurl {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/lmin.png);
	background-size: 100% 100%;	
}

.sculp, .laurel {
	z-index: 0;
	opacity: 0.7;
	position: absolute;
	-webkit-transform: skew(0deg,20deg)
}

/********************TABLET*********************/

.chapter1MT {
	background: black;
}

.chapter1T .title {
	
	top: 0px;
	left: 0px;
	width: 100%;
	height: 10px;
	z-index: 6;
	font-size:12px;
	padding: 0px;
	margin-left: 0px;
	text-align: left;
	line-height: 12px;
	
}

.chapter1T span {
	background-color: transparent;
}


.chapter1T .sky {
	width: 100% ;
	height: 50%;
	/*position: fixed;
	top: 0px;
	left: 0px;
	background-image: url(../img/sky.jpg);*/
}

.chapter1T .container {
	width: 280px;
	height: 280px;
	position: absolute;
	top: 60%;
	left: 20%;
}


.chapter1T .xhair3 {
	font-size: 10px;
}

/********************MOBILE*********************/

.chapter1M {
	background: black;
}

.chapter1M .title {
	
	top: 0px;
	left: 0px;
	width: 100%;
	height: 10px;
	z-index: 6;
	font-size:12px;
	padding: 0px;
	margin-left: 0px;
	text-align: left;
	line-height: 12px;
	
}

.chapter1M span {
	background-color: transparent;
}

.chapter1M .sky {
	width: 100% ;
	height: 50%;
	/*position: fixed;
	top: 0px;
	left: 0px;
	background-image: url(../img/sky.jpg);*/
}

.chapter1M .container {
	width: 180px;
	height: 180px;
	position: absolute;
	top: 50%;
	left: 20%;
}


.chapter1M .xhair3 {
	font-size: 10px;
}



