.three {
	display: none;
	width: 100%;
	height: 1000px;
	/*background-image: url(../img/telstar.jpg); 
	background-size: 100%;*/
	background: white;
	height: 1000px;
	position: absolute;
	/*top: 700px;*/
	left: 0px;
}

.gravity {
	width: 60%;
	height: 300px;
	min-width: 400px;
	max-width: 900px;
	min-height: 100px;
	margin-left:20%;
	top: 35%;
	position: absolute;
}

.earth {
	width: 100%;
	height: 95%;
	border-radius: 50%;
	/*border: 1px solid chartreuse;*/
	background-image: url(../img/slice2.jpg);
	/*background-size: 800px 800px;*/
	z-index: 3;
	position: absolute;
}

.antenna {
	width: 100%;
	height: 462px;
	/*border-radius: 50%;*/
	/*border: 1px solid chartreuse;*/
	background-image: url(../img/slick2.png);
	/*background-size: 800px 800px;*/
	z-index: 1;
	position: absolute;
	top: -170px;
	opacity:1;
}

.column {
	width: 60%;
	height: 500px;
	min-width: 400px;
	min-height: 100px;
	/*border-left: 1px solid chartreuse;
	border-right: 1px solid chartreuse;*/
	margin-left:20%;
	top: 50%;
	/*background-image: url(../img/sky.jpg);*/
	background: white;
	position: absolute;
	z-index: 2;
}

.retro {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid whitesmoke;
	background-size: 800px 800px;
	/*z-index: 3;*/
	position: absolute;
	top: -63px;
	-webkit-transition: width 4s;
	/*-webkit-transform: skew(0deg,28deg)*/
}


.causality {
     height:51%;
     width:100%;
     border-radius: 50% / 100%;
	 border-bottom-left-radius: 0;
	 border-bottom-right-radius: 0;
     border:1px solid white;
     border-bottom:none;
     z-index: 3;
     position: absolute;
     top: 87px;
     -webkit-transform: rotate(180deg);
}



.telstar1 {
	top: -250px;
	height: 400px;
	width: 180px;
	background-image: url(../img/telstar2.jpg); 
	background-size:180px 400px;
	opacity: 1;
	z-index: 1;
	left: 73%;
	position: absolute;

	-webkit-transform: skew(0deg,20deg)
}

.line3 {
	top: -75px;
	height: 150px;
	width:1px;
	opacity:1;
	border-top: 1px dashed silver;
	left: 390px;
	position: absolute;
	z-index: 3;
	-webkit-transition: width 4s;
	-webkit-transform: skew(0deg,168deg)
}

.line4 {
	
	top: -85px;
	height: 150px;
	width:1px;
	opacity:1;
	border-top: 1px dashed silver;
	left: 185px;
	position: absolute;
	z-index: 3;
	-webkit-transition: width 4s;
	-webkit-transform: skew(0deg,172deg)
}

.box2 {
	
	display: none;
	top: -160px;
	left: 94%;
	position: absolute;
	z-index: 4;
	-webkit-transform: skew(0deg,-6deg)
}

.front {
	top: 165px;
	height: 150px;
	width: 83px;
	border: 1px dashed white;
	border-top: 1px solid chartreuse !important;
	left: -149px;
	position: absolute;

	-webkit-transform: skew(0deg,20deg)
}

.back {
	top: 165px;
	height: 150px;
	width: 83px;
	border-top: 1px solid chartreuse !important;
	border: 1px dashed white;
	left: -66px;
	position: absolute;
	z-index: 0;
	-webkit-transform: skew(0deg,20deg)
}

.box2 .front,
.box2 .back {
	
	top: 145px;
	height: 170px;
	border-top: 1pt dashed white !important;
	z-index: 4;
}

.box2 .top {
	
	height: 28px;
	width: 80px;
	border: 1px dashed white;
	top: 130px;
	left: -107px;
	position: absolute;
	-webkit-transform: skew(71deg,0deg)
}

.bernini {
	top: -10px;
	height: 160px;
	width: 150px;
	left: 73%;
	position: absolute;
	background-image: url(../img/daphne/1.png);
	background-size: 140% 140%;
	z-index: 3;
	opacity: 0.9;
}

.laurel2 {
	display: none;
	top: 80px;
	height: 250px;
	width: 220px;
	right: -40px;
	position: absolute;
	background-image: url(../img/lmin.png);
	background-size: 100% 100%;
	z-index: 0;
	opacity: 0.9;
	-webkit-transform: skew(0deg,26deg)
}

.p1 {
	font-family: "andale mono";
	width: 500px;
	font-size: 15px;
	position: absolute;
	height: auto;
	left: 100px;
	top: 100px;


}

.p2 {
	font-family: "andale mono";
	width: 500px;
	font-size: 15px;
	position: absolute;
	height: auto;
	right: 100px;
	top: 600px;
	z-index: 4;
}

















