.space {
	height: 2000px;
	width: 100%;
	background: black;
}


.form {
	height: 3000px;
	width: 1300px;
	background: transparent;
	border: 1px solid chartreuse;
	position: absolute;
	margin-left: 50%;
	left: -50px;
	top: 30%;
	-webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.speed {
	height: 3000px;
	width: 1300px;
	background: transparent;
	border: 1px solid chartreuse;
	position: absolute;
	margin-left: 50%;
	left: -50px;
	top: 30%;
	-webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.content {
	overflow: hidden;
	/*opacity: 0.1;*/
	height: 250px;
	width: 250px;
	/*border: 1px solid chartreuse;*/
	position: absolute;
	margin-left: 10%;
	left: -50px;
	top: 5%;
}

.sculpture {
	overflow: hidden;
	height: 600px;
	width: 600px;
	position: absolute;
	margin-left: 1500px;
	top: 35%;
}


